.Card {
    display: block;
    text-decoration: none;
    width:265px;
    margin:0 1rem 5rem 1rem;
}
.Card:hover,
.Card:focus {
    box-shadow: 2px 2px 4px -2px rgba(0, 138, 239,0.3);
}
.Card:hover .Image,
.Card:focus .Image{
    animation: image 1s ease-in-out;
}
.Header {
    padding:1rem;
    border-bottom:1px solid var(--grey);
}
.SubTitle {
    color:var(--dBlue);
    line-height:1.4;
    font-weight: 300;
    letter-spacing: 2px;
}
.ImageContainer {
    width:100%;
    overflow:hidden;
}
.Image {
    width: 100%;
}

@keyframes image {
    0% {
        transform:scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.Footer {
    font-family: 'Oswald',sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    border-top:1px solid var(--grey);
    color:var(--dBlue);
    background-color:#FAFAFA;
    padding:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NameParameter {
    margin-bottom:0.3rem;
}
.ValueParameter {
    font-weight: 300;
    font-size:1.4rem;
    text-transform: lowercase;
}