.Button {
    display: block;
    text-decoration: none;
    border-radius:0.4rem;
    height: 4.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.75;
    font-family: "Oswald",sans-serif;
    transition: background-color .3s ease-in, color .3s ease-in;
    width:max-content;
    padding:0 2.2rem;
    animation: buttonScale .6s ease-in-out;
    cursor:pointer;
    /*temporary*/
    margin:1rem auto;
}
/* button red */
.Button.Red {
    border:1px solid #900d11;
    background-color:#BD1218;
    color:#EBEBEB;
}
.Button.Red:hover,
.Button.Red:active {
    background-color: #EBEBEB;
    color: #BD1218;
}
/* button black*/
.Button.Black {
    border:1px solid #000000;
    background-color:#222222;
    color:#EBEBEB;
}
.Button.Black:hover,
.Button.Black:active {
    background-color: #EBEBEB;
    color: #222222;
}
/* button blue*/
.Button.Blue {
    border:1px solid #008aef;
    background-color:#00aeef;
    color:#EBEBEB;
}
.Button.Blue:hover,
.Button.Blue:active {
    background-color: #EBEBEB;
    color: rgb(0,174,239);
}
/* button brown*/
.Button.Brown {
    border:1px solid rgb(188,151,76);
    background-color:rgb(203,173,115);
    color:#EBEBEB;
}
.Button.Brown:hover,
.Button.Brown:active {
    background-color: #EBEBEB;
    color: rgb(203,173,115);
}
@keyframes buttonScale {
    0%{
        transform:scale(1);
    }
    50% {
        transform:scale(1.1);
    }
    100% {
        transform:scale(1);
    }
}