.Button {
    display: block;
    text-decoration: none;
    /* border-radius:0.4rem; */
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 300;
    padding:0.5rem 1rem;
    font-family: "Oswald",sans-serif;
    transition: background-color .3s ease-in, color .3s ease-in;
    width:max-content;
    cursor:pointer;
    outline:none;
    position: relative;
}
/* button red */
.Button.Red {
    border:1px solid #900d11;
    background-color:#BD1218;
    color:#EBEBEB;
}
.Button.Red:hover,
.Button.Red:active {
    background-color: #EBEBEB;
    color: #BD1218;
}
/* button black*/
.Button.Black {
    border:1px solid #000000;
    background-color:#222222;
    color:#EBEBEB;
}
.Button.Black:hover,
.Button.Black:active {
    background-color: #EBEBEB;
    color: #222222;
}

/* button blue*/
.Button.Blue {
    border:1px solid #008aef;
    background-color:#00aeef;
    color:#EBEBEB;
}
.Button.Blue:hover,
.Button.Blue:active {
    background-color: #EBEBEB;
    color: rgb(0,174,239);
}

/* button brown*/
.Button.Brown {
    border:1px solid rgb(188,151,76);
    background-color:rgb(203,173,115);
    color:#EBEBEB;
}
.Button.Brown:hover,
.Button.Brown:active {
    background-color: #EBEBEB;
    color: rgb(203,173,115);
}
.FS_Small {font-size:1.6rem;}
.FS_Medium {font-size:1.8rem;}
.FS_Big {font-size:2rem;}
.PAD_Small {padding:0.5rem 1rem;}
.PAD_Medium {padding:1.5rem 1rem;}
.PAD_Big {padding:2rem 1rem;}

.Button.Last {
    border-left:none;
}
.Button.noBorder {
    border:none;
}
.Button.Active {
    box-shadow:4px 0px 4px -2px rgba(0,0,0,0.6);
    background-color: #EBEBEB;
    color: rgb(0,174,239);
    z-index:1;
}
.Button.Last.Active {
    box-shadow:-4px 0px 4px -2px rgba(0,0,0,0.6);
}
.Button.Animation {
    animation: buttonScale .6s ease-in-out;
}

@keyframes buttonScale {
    0%{
        transform:scale(1);
    }
    50% {
        transform:scale(1.1);
    }
    100% {
        transform:scale(1);
    }
}