.Title {
    width:100%;
    color:var(--grey);
    text-transform: uppercase;
    font-size: 2.4rem;
    margin-bottom:1.5rem;
    white-space: nowrap;
}
.Red {
    color:var(--dRed);
}
.Blue {
    color:var(--dBlue);
}
.Black {
    color:var(--dBlack);
}
.Brown {
    color:var(--dBrown);
}
.Grey {
    color:var(--grey);
}
.Msmall {margin-bottom:1rem;}
.Mmedium {margin-bottom:2rem;}
.Mbig {margin-bottom:3rem;}
.Ssmall {font-size:1.8rem;}
.Smedium {font-size:2.4rem;}
.Sbig {font-size:3rem;}