.NavigationItem {
    padding-right:1rem;
    padding-left:1rem;
    border-right:1px dotted #900d11;
}
.NavigationItem.Footer {
    border-right: initial;
    padding-right:0;
    padding-left:0;
}
.NavigationLink {
    display: block;
    text-decoration: none;
    color:#EBEBEB;
    font-size: 2rem;
    padding:3rem 1.5rem 2rem;
    margin-left:-1rem;
    margin-right:-1rem;
    font-family: "Oswald",sans-serif;
    border-bottom:1rem solid transparent;
    font-weight: 300;
    white-space: nowrap;
    transition: background-color .3s ease-in,color .3s ease-in,border-bottom .3s ease-in;
}
.NavigationLink.Footer {
    padding:1rem 1.5rem;
    margin-left:0;
    margin-right:0;
    border-bottom:0;
    transition: background-color 0.3s ease-in,color .3s ease-in;
}
.NavigationLink:hover,
.NavigationLink:active,
.NavigationLink.active {
    border-bottom:1rem solid #222222;
    background-color:#EBEBEB;
    color:#BD1218;
}
.NavigationLink.Footer:hover,
.NavigationLink.Footer:active,
.NavigationLink.Footer.active {
    border-bottom:none;
    background-color:#EBEBEB;
    color:#BD1218;
}

.Last {
    border-right:initial;
}
