.LinkButton {
    display: block;
    text-decoration: none;
    border-radius:0.4rem;
    height: 4.4rem;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.75;
    font-family: "Oswald",sans-serif;
    transition: background-color .3s ease-in, color .3s ease-in;
    width:max-content;
    padding:0 2.2rem;
    /*temporary*/
    margin:1rem;
}
/* link button red */
.LinkButton.Red {
    border:1px solid #900d11;
    background-color:#BD1218;
    color:#EBEBEB;
}
.LinkButton.Red:hover,
.LinkButton.Red:active {
    background-color: #EBEBEB;
    color: #BD1218;
}
/* link button black*/
.LinkButton.Black {
    border:1px solid #000000;
    background-color:#222222;
    color:#EBEBEB;
}
.LinkButton.Black:hover,
.LinkButton.Black:active {
    background-color: #EBEBEB;
    color: #222222;
}
/* link button blue*/
.LinkButton.Blue {
    border:1px solid #008aef;
    background-color:rgb(0,174,239);
    color:#EBEBEB;
}
.LinkButton.Blue:hover,
.LinkButton.Blue:active {
    background-color: #EBEBEB;
    color: rgb(0,174,239);
}
/* link button brown*/
.LinkButton.Brown {
    border:1px solid rgb(188,151,76);
    background-color:rgb(203,173,115);
    color:#EBEBEB;
}
.LinkButton.Brown:hover,
.LinkButton.Brown:active {
    background-color: #EBEBEB;
    color: rgb(203,173,115);
}