.EmailButton {
    display: block;
    text-decoration: none;
    /* border-radius:0.4rem; */
    height: 4.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.75;
    font-family: "Oswald",sans-serif;
    transition: background-color .3s ease-in, color .3s ease-in;
    width:max-content;
    padding:0 2.2rem;
    animation: buttonScale .6s ease-in-out;
    /*temporary*/
    margin:1rem;
}
/* link button red */
.EmailButton.Red {
    border:1px solid #900d11;
    background-color:#BD1218;
    color:#EBEBEB;
}
.EmailButton.Red:hover,
.EmailButton.Red:active {
    background-color: #EBEBEB;
    color: #BD1218;
}
/* link button black*/
.EmailButton.Black {
    border:1px solid #000000;
    background-color:#222222;
    color:#EBEBEB;
}
.EmailButton.Black:hover,
.EmailButton.Black:active {
    background-color: #EBEBEB;
    color: #222222;
}
/* link button blue*/
.EmailButton.Blue {
    border:1px solid #008AEF;
    background-color:#00AEEF;
    color:#EBEBEB;
}
.EmailButton.Blue:hover,
.EmailButton.Blue:active {
    background-color: #EBEBEB;
    color: rgb(0,174,239);
}
/* link button brown*/
.EmailButton.Brown {
    border:1px solid #bc974c;
    background-color:#cbad73;
    color:#EBEBEB;
}
.EmailButton.Brown:hover,
.EmailButton.Brown:active {
    background-color: #EBEBEB;
    color: rgb(203,173,115);
}

@keyframes buttonScale {
    0%{
        transform:scale(1);
    }
    50% {
        transform:scale(1.1);
    }
    100% {
        transform:scale(1);
    }
}