.IndicatorButton {
    outline:none;
    background-color:transparent;
    border:1px solid var(--black);
    border-radius:0.4rem;
    font-family:"Oswald",sans-serif;
    font-size: 2.5rem;
    line-height: 4.2rem;
    font-weight: 300;
    width:4.2rem;
    height:4.2rem;
}

/* red button */
.IndicatorButton.Red {
    border:1px solid #900d11;
    background-color:#BD1218;
    color:#EBEBEB;
}

.IndicatorButton.Red:hover,
.IndicatorButton.Red:active {
    background-color:#EBEBEB;
    color:#BD1218;
}
/* blue button */
.IndicatorButton.Blue {
    border:1px solid #008ABC;
    background-color: hsl(196, 100%, 47%);
    color:#EBEBEB;
}
.IndicatorButton.Blue:hover,
.IndicatorButton.Blue:active {
    background-color:#EBEBEB;
    color:#00AEEF;
}
/* brown button */
.IndicatorButton.Brown {
    border:1px solid #BC974C;
    background-color: #CBAD73;
    color:#EBEBEB;
}
.IndicatorButton.Brown:hover,
.IndicatorButton.Brown:active {
    background-color:#EBEBEB;
    color:#CBAD73;
}
/* black button */
.IndicatorButton.Black {
    border:1px solid #111111;
    background-color: #222222;
    color: #111111;
}
.IndicatorButton.Black:hover,
.IndicatorButton.Black:active {
    background-color:#EBEBEB;
    color:#222222;
}
