.Header {
    margin-top:82px;
    width:100%;
    min-height:400px;
    height:600px;
    background-color: rgba(0, 0, 0,0.8);
    background-image:url(../../assets/images/a.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    
}
.Container {
    max-width: 960px;
    margin:0 auto;
    padding:2rem 1.5rem;
    color:#EBEBEB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
}
.PageTitle {
    color:#EBEBEB;
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.PageInfo {
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
    margin-bottom: 1.5rem;
}
.PageDetails {
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2rem;
}