
*,*::after,*::before {
  box-sizing: border-box;
}
:root {
  --dBlack:#111111;
  --black:#222222;
  --dBlue:#008AEF;
  --blue:#00AEEF;
  --dRed:#900D11;
  --red:#BD1218;
  --dBrown:#BC974C;
  --brown:#CBAD73;
  --dGrey:#3F3F3F;
  --grey:#EBEBEB;
}
html {
  font-size: 62.5%;
  height:100%;
}
body {
  line-height: 1;
  font-family: 'Lato',sans-serif;
  letter-spacing: 0.1rem;
  margin:0;
  min-width: 320px;
  /*height:calc(100% - 82px);*/
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Oswald",sans-serif;
  margin:0;
  color:#222222;
}
p{
  margin:0;
  font-size: 1.6rem;
  line-height: 2;
  font-weight: 400;
  padding:0;
}